# SPDX-FileCopyrightText: 2025 Eric Joldasov
#
# SPDX-License-Identifier: 0BSD

BratishkaErik <bratishkaerik@landless-city.net> <bratishkaerik@landless-city.net>
Eric Joldasov <bratishkaerik@landless-city.net>
