# SPDX-FileCopyrightText: 2022 Free Software Foundation Europe e.V. <https://fsfe.org>
# SPDX-License-Identifier: CC0-1.0

name: REUSE
on:
  merge_group:
  push:
    branches: "**"
  pull_request:
    branches: [ main ]
jobs:
  compliance:
    runs-on: ubuntu-24.04
    name: Check for compliance
    steps:
      - name: Checkout last commit
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
        with:
          persist-credentials: false
      - name: Lint missing copyright and licensing information
        uses: fsfe/reuse-action@6ac5c823270d369f01e3c491c708f706f2bdc355
