# SPDX-FileCopyrightText: 2024 Eric Joldasov
# SPDX-License-Identifier: CC0-1.0

name: Zig
on:
  merge_group:
  push:
    branches: "**"
    paths-ignore:
      - "LICENSE/**"
      - "README.md"
      - ".gitignore"
  pull_request:
    branches: [ main ]
    paths-ignore:
      - "LICENSE/**"
      - "README.md"
      - ".gitignore"
jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-24.04, windows-2022, macos-15]
    name: Build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout last commit
        uses: actions/checkout@0c366fd6a839edf440554fa01a7085ccba70ac98
        with:
          persist-credentials: false
      - name: Setup Zig nightly
        uses: mlugg/setup-zig@449e89608835f56846607aebd960b3a9354cafc3
      - run: zig build
